body {
  background-image: url("../images/background/table-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#rules-board{
  background-color: black;
  width: 60%;
  padding: 1rem;
  border-radius: 40px;

}

.info-page {
  color: white;
  font-size: 20px;
  font-family:  Arial, Helvetica, sans-serif;;
}
#title-header {
  font-size: 55px;  
}
.subject {
  font-style: bold;
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: .5vh;
}

.card.outline {
  border: 0.15em dashed white;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin: 2vh .3vh 2vh .3vh;
  padding: .8rem;
  border-radius: 5px;
  color: black;
  background-color: rgb(218, 165, 32);
  font-weight: bold;
  border: 2px solid white;
  font-family:Arial, Helvetica, sans-serif;  
}
.card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dealer-hand {
  height: 12rem;
  width: auto;
  min-width: 30rem;
  border: 5px solid rgb(218, 165, 32);;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 20px;
}
.dealer-board {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: Century, Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255)
}
.player {
  height: 12rem;
  width: auto;
  min-width: 30rem;
  border: 5px solid rgb(218, 165, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 20px;
}
.player-board {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: Century, Arial, Helvetica, sans-serif;
  color: white
}
.buttons {
  display: flex;
  justify-content: space-around;  
}
.actions-board {
  font-size: 20px;
  font-family: Century, Arial, Helvetica, sans-serif;
  color: white
}
#hit {
  margin: 2vh .3vh 2vh .3vh;
  padding: .8rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  border: 2px solid white;
  font-family:Arial, Helvetica, sans-serif;  
}
#double {
  margin: 2vh .3vh 2vh .3vh;
  padding: .8rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  border: 2px solid white;
  font-family:Arial, Helvetica, sans-serif;  
}
#split {
  margin: 2vh .3vh 2vh .3vh;
  padding: .8rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  border: 2px solid white;
  font-family:Arial, Helvetica, sans-serif;  
}
#stand {
  margin: 2vh .3vh 2vh .3vh;
  padding: .8rem;
  border-radius: 5px;
  color: white;
  background-color: orangered;
  font-weight: bold;
  border: 2px solid white;
  font-family:Arial, Helvetica, sans-serif;  
}
#play-button {
  font-size: 30px;
}