body {
  background-color: #696969;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: .5vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin: 2vh .3vh 2vh .3vh;
  padding: .8rem;
  border-radius: 5px;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
  font-family:Arial, Helvetica, sans-serif;  
}
.card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dealer-hand {
  height: 12rem;
  width: auto;
  min-width: 30rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 20px;
}
.dealer-board {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family:Arial, Helvetica, sans-serif;
}
.player {
  height: 12rem;
  width: auto;
  min-width: 30rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 20px;
}
.player-board {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family:Arial, Helvetica, sans-serif;
}
.buttons {
  display: flex;
  justify-content: space-around;  
}
.actions-board {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}